MINER_PATH=/root/teamredminer-v0.7.21-linux
@reboot /root/fancontrol 180
@reboot screen -dmS miner bash -c cd $MINER_PATH && ./run_miner.sh
1 * * * * cd $MINER_PATH && ./get_prices.sh
2 * * * * cd $MINER_PATH && ./run_miner.sh
